.pagina-principal {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.navbar {
  background-color: #6af652;
  width: 100%;
  display: flex;
}

.navbar a {
  display: block;
  color: black;
  padding: 20px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #555555;
  color: white;
}

.footer {
  background-color: #6af652;
  color: black;
  margin-top: 60px;
  padding: 20px 16px;
  text-align: right;
}
